body {
    margin: 0;

    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;

    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p{
    margin: 0 0 10px;
}

.container{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}
/* Header */

.header{
    width: 100%;
    height: 100px;
    position: absolute;
    top:  0;
    left: 0;
    z-index: 1000;


}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding: 35px 0px;
    border-bottom: 1px solid #515369;
    align-items: center;
}


/* nav */

.nav{
    display: flex;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.nav__linlk:first-child{
    margin-left: 0px;
}

.nav__linlk{
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.74;
    transition: opacity .1s linear;
}

.nav__linlk:hover{
    opacity: 1;
}


/* nav */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: url("img/intro-bg.jpg") center no-repeat;
    background-size: cover;
}

.intro_inner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title{
    margin: 0 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 71px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    
}

.intro__subtitle{
    font-family: Raleway;
    font-size: 22px;
    line-height: 33px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 60px;
}


/* button */

.btn{
    display: inline-block;
    vertical-align: top;
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 40px;
    transition: background .1s linear;
    
}

.btn--red{
    width: 200px;
    height: 46px;
    background-color: #e84545;
    border-radius: 2px;
}


.btn--red:hover{
    background-color: #dd3434;
}











